<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" aria-current="page" routerLink="/user">Back</a>
                </li>
            </ul>
            <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button"
                routerLink="/signin">Sign Out</button>
        </div>
    </div>
</nav>
<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                                        style="width: 185px;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1">Application Inventory</h4>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h4 class="mb-4">Here's what I can help you with : </h4>
                                <!-- Grid row -->
                                <div class="row">
                                    <!-- Grid column -->
                                    <div class="col-md-12">

                                        <button type="button" class="btn  waves-effect btn-elegant"
                                            routerLink="/viewallapplications"><i class="fas fa-sun pr-2"
                                                aria-hidden="true"></i>Get All Available Applications Detail.</button>

                                        <button type="button" class="btn  waves-effect btn-elegant"
                                            routerLink="/searchapplicationbyname"><i class="fas fa-sun pr-2"
                                                aria-hidden="true"></i>Search An Application By Name.</button>

                                        <button type="button" class="btn  waves-effect btn-elegant"
                                            routerLink="/searchapplicationbyid"><i class="fas fa-sun pr-2"
                                                aria-hidden="true"></i>Search An Application By ID.</button>

                                        <button type="button" class="btn  waves-effect btn-elegant"
                                            routerLink="/createapplication"><i class="fas fa-sun pr-2"
                                                aria-hidden="true"></i>Create A New Application.</button>

                                        <button type="button" class="btn  waves-effect btn-elegant"
                                            routerLink="/updateapplication"><i class="fas fa-sun pr-2"
                                                aria-hidden="true"></i>Update An Existing Application.</button>

                                        <button type="button" class="btn  waves-effect btn-elegant"
                                            routerLink="/deleteapplication"><i class="fas fa-sun pr-2"
                                                aria-hidden="true"></i>Delete An Application.</button>


                                    </div>
                                    <!-- Grid column -->

                                </div>
                                <!-- Grid row -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>